<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
  </head>

  <body>
    <div class="container">
      <h1>{{ category_name }}</h1>
      {% if category %}
        {% if pages %}
        <ul>
          {% for page in pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
      {% else %}
        The specified category {{ category_name }} does not exist!
      {% endif %}


      <div class="row">
        <div class="col-md-1">
          <p>
            <a class="btn btn-default btn-sm" href="/rango/category/{{ category_url }}/add_page/" role="button">Add Page</a>
          </p>
        </div>
        <div class="col-md-1">
          <p>
            <a class="btn btn-default btn-sm" href="/rango/" role="button">Home</a>
          </p>
        </div>
      </div><!-- /row -->

    </div><!-- /container -->
  </body>
</html>